[submodule "lib/tray"]
	path = lib/tray
	url = https://github.com/danskidb/Tray.git
	branch = master
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
[submodule "lib/asio"]
	path = lib/asio
	url = https://github.com/OlivierLDff/asio.cmake.git
	branch = main
[submodule "lib/loguru"]
	path = lib/loguru
	url = https://github.com/emilk/loguru.git
	branch = master
[submodule "lib/serial"]
	path = lib/serial
	url = https://github.com/danskidb/serial.git
	branch = main
